//Colors
$color-white: #fff;
$color-black: #000;

$color-primary: #a234d5;
$color-secondary: #d74059;
$color-tertiary: #d33f63;

//GRID
$grid-width: 114rem;

//TYPOGRAPHY

// $heading-primary: 5.6rem;
// $heading-secondary: 5.6rem;
// $heading-tertiary: 4rem;

// $paragraph-primary: 2rem;
// $paragraph-secondary: 2.2rem;