.row {
  &--padding {
    max-width: $grid-width;
    margin: 0 auto;
  }

  @include clearfix;

  [class^='col-'] {
    float: left;

    @include respond(phone) {
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc(100% / 2);
  }

  .col-1-of-3 {
    width: calc(100% / 3);
  }

  .col-1-of-4 {
    width: calc(100% / 4);
  }

  .col-1-of-5 {
    width: calc(100% / 5);
  }
}