.service-box {
  &__item {
    list-style: none;
    display: inline-block;
    padding: 1rem;
    padding-bottom: 2.5rem;

    a {
      text-decoration: none;
      font-size: 2rem;
      color: $color-white;
      width: 100%;
      padding-bottom: 2.5rem;
      border-bottom: 1px solid rgba($color: $color-white, $alpha: 0.5);
      transition: all .3s
    }

    a:hover {
      border-bottom: 2px solid white;
    }
  }

  &__img-box {
    margin: 8rem 4rem 0 4rem;

    img {
      display: block;
      width: 90%;
      height: auto;
      // padding-right: 4rem;
    }
  }
}