.visit-box {
  border-top: 1px solid rgba($color-white, 0.4);
  background: linear-gradient(to left top, rgba(#1a0e24, 1), rgba(#2e2236, 1));

  &:not(:last-child) {
    background: linear-gradient(to right top,
        rgba(#1a0e24, 1),
        rgba(#2e2236, 1));
    border-right: 1px solid rgba($color-white, 0.4);
  }

  padding: 12rem 10rem;
  text-align: center;

  @include respond(tab-port) {
    padding: 10rem 5rem;
  }
}