body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $color-white;
}

.heading-primary {
  font-size: 5.5rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
  margin-bottom: 2rem;
  line-height: 1;
  animation-name: moveInLeft;
  animation-duration: 1s;
}

.heading-secondary {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  word-spacing: 1rem;
  margin-bottom: 2rem;
}

.heading-tertiary {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2rem;

  &--left {
    text-align: left;
  }
}

.heading-tertiary-2 {
  font-size: 1.8em;
  font-weight: 400;
  margin-bottom: 2rem;
  margin-top: -1rem;

}

.paragraph {
  font-size: 2rem;
  font-weight: 100;
  margin-bottom: 3rem;

  &--left {
    text-align: left;
  }

  span {
    font-weight: 600;
  }

  &--animate {
    animation: moveInRight 1s ease-out;
  }
}